.member-details-container {
    width: 100%;
    max-width: 500px;
    border: 1px solid #ccc;
    background-color: #fff;
  }
  
  .member-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .member-img {
    width: 60px;
    height: 60px;
    background-color: #007bff;
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .member-button-group {
    display: flex;
    gap: 10px;
  }
  

  